# The Impact of Families on Alcohol Problems and Socialization of Children in Portugal.

In this project I am going to check my hypotheze that children living in full families in Portugal and in single-parent families have the same problems with socialization and tendency to alcohol dependence.
The original dataset includes a lot of information about Portuguese school students, including information about their families, children's romantic relationships, and alcohol use.

Let's install all the libraries that might be useful to me.

In [3]:
import numpy as np
import pandas as pd
import streamlit as st
import functions
import plotly.graph_objects as go
import plotly.figure_factory as ff

Below I will write the functions that will help me in plotting the graphs.

In [4]:
import matplotlib.pyplot as plt
import streamlit as st
import plotly.express as px


def drawpie(df, values):
    fig = px.pie(df, values=values, names=values)
    st.plotly_chart(fig)


def drawbox(df, x, y):
    fig = px.box(df, x=x, y=y)
    st.plotly_chart(fig)


def drawbar(df, x, y):
    fig = px.bar(df, x=x, y=y)
    st.plotly_chart(fig)


def drawstak(x, y, xt, yt):
    fig, ax = plt.subplots()
    plt.stackplot(x, y)
    ax.set_ylabel(yt)
    ax.set_xlabel(xt)
    st.pyplot(fig)


def drawline(df, x, y):
    fig = px.line(df, x=x, y=y)
    st.plotly_chart(fig)


def drawscatter(df, x, y):
    fig = px.scatter(df, x=x, y=y)
    st.plotly_chart(fig)

Below I will sort my dataset, remove unnecessary columns,add new column, check classes and the presence of NaN elements and display the resulting datasets with which I will later work. But before that, I will introduce you to the values that you may encounter in the tables.
famize - family size, LE3 - less or equal to 3 or GT3 - greater than 3;
Pstatus - parents cohabitation status, T - living together or A - apart;
guardian - students guardian ,nominal: mother or father;
romantic - with a romantic relationship, binary: yes or no;
goout - going out with friends, numeric: from 1 - very low to 5 - very high;
Dalc - workday alcohol consumption,numeric: from 1 - very low to 5 - very high;
Walc - weekend alcohol consumption, numeric: from 1 - very low to 5 - very high;
alcoeveryday - the arithmetic mean of each child's daily alcohol consumption.

In [5]:
df = pd.read_csv('Maths.csv')
df2 = df[["famsize", "Pstatus", "guardian", "romantic", "goout", "Dalc", "Walc"]].copy()
df2 = df2[df2.guardian != 'other']
tmp = len(df2)
df2.dropna()
fl = True
if len(df2) == tmp:
    print("No NaN fields detected")
else:
    print("Cleaned up NaN values, dropped {0} rows".format(tmp - len(df2)))
for i in ["famsize", "Pstatus", "guardian", "romantic"]:
    if df2[i].dtypes != "object":
        print("wrong data type in column {0}, must be object".format(i))
        fl = False
for i in ["goout", "Dalc", "Walc"]:
    if df2[i].dtypes != "int64":
        print("wrong data type in column price, must be int64")
        fl = False
df_new = df2.assign(alcoeveryday=lambda x: (x.Dalc + x.Walc) / 2)
df3 = df_new[df_new['Pstatus'] == 'A'].copy()
df4 = df_new[df_new['Pstatus'] == 'T'].copy()
df5 = df_new[df_new['guardian'] == 'mother']
df6 = df_new[df_new['guardian'] == 'father']

No NaN fields detected

DataFrame with new column named "alcoeveryday".

In [6]:
print(df_new)

    famsize Pstatus guardian romantic  goout  Dalc  Walc  alcoeveryday
0       GT3       A   mother       no      4     1     1           1.0
1       GT3       T   father       no      3     1     1           1.0
2       LE3       T   mother       no      2     2     3           2.5
3       GT3       T   mother      yes      2     1     1           1.0
4       GT3       T   father       no      2     1     2           1.5
..      ...     ...      ...      ...    ...   ...   ...           ...
388     LE3       T   mother       no      4     1     1           1.0
389     GT3       T   mother       no      1     1     1           1.0
391     LE3       T   mother       no      5     3     4           3.5
393     LE3       T   mother       no      1     3     4           3.5
394     LE3       T   father       no      3     3     3           3.0

[363 rows x 8 columns]

DataFrame showing values only about kids living in full families.

In [7]:
print(df4)

    famsize Pstatus guardian romantic  goout  Dalc  Walc  alcoeveryday
1       GT3       T   father       no      3     1     1           1.0
2       LE3       T   mother       no      2     2     3           2.5
3       GT3       T   mother      yes      2     1     1           1.0
4       GT3       T   father       no      2     1     2           1.5
5       LE3       T   mother       no      2     1     2           1.5
..      ...     ...      ...      ...    ...   ...   ...           ...
388     LE3       T   mother       no      4     1     1           1.0
389     GT3       T   mother       no      1     1     1           1.0
391     LE3       T   mother       no      5     3     4           3.5
393     LE3       T   mother       no      1     3     4           3.5
394     LE3       T   father       no      3     3     3           3.0

[327 rows x 8 columns]

DataFrame showing values only about kids living in apart families.

In [8]:
print(df3)

    famsize Pstatus guardian romantic  goout  Dalc  Walc  alcoeveryday
0       GT3       A   mother       no      4     1     1           1.0
7       GT3       A   mother       no      4     1     1           1.0
8       LE3       A   mother       no      2     1     1           1.0
28      LE3       A   mother       no      3     1     1           1.0
37      GT3       A   mother      yes      3     1     1           1.0
45      LE3       A   mother      yes      2     1     1           1.0
46      LE3       A   mother       no      5     1     4           2.5
52      LE3       A   father       no      5     3     4           3.5
54      LE3       A   mother       no      4     4     4           4.0
55      GT3       A   mother      yes      4     1     1           1.0
56      GT3       A   mother       no      2     1     1           1.0
66      GT3       A   mother      yes      3     5     5           5.0
89      LE3       A   mother       no      3     3     5           4.0
104     GT3       A   mother       no      4     1     1           1.0
105     GT3       A   father       no      3     1     1           1.0
110     LE3       A   mother       no      3     1     1           1.0
126     LE3       A   mother      yes      2     1     1           1.0
133     GT3       A   father       no      1     1     4           2.5
149     LE3       A   mother       no      5     2     5           3.5
188     GT3       A   mother      yes      3     1     3           2.0
206     GT3       A   mother       no      3     2     2           2.0
212     GT3       A   mother       no      4     1     1           1.0
229     GT3       A   mother      yes      3     1     2           1.5
241     LE3       A   mother       no      3     2     3           2.5
257     LE3       A   mother       no      1     1     1           1.0
265     LE3       A   mother       no      5     3     4           3.5
276     GT3       A   mother      yes      1     1     1           1.0
280     LE3       A   mother      yes      4     2     4           3.0
281     LE3       A   mother       no      4     3     4           3.5
289     LE3       A   mother       no      3     1     1           1.0
300     LE3       A   mother      yes      4     1     1           1.0
320     GT3       A   mother      yes      2     1     2           1.5
339     GT3       A   mother       no      3     2     3           2.5
343     GT3       A   father      yes      1     1     2           1.5
357     LE3       A   mother      yes      3     1     2           1.5
360     LE3       A   mother      yes      4     1     4           2.5

DataFrame showing values only about kids living with mother.

In [9]:
print(df5)

    famsize Pstatus guardian romantic  goout  Dalc  Walc  alcoeveryday
0       GT3       A   mother       no      4     1     1           1.0
2       LE3       T   mother       no      2     2     3           2.5
3       GT3       T   mother      yes      2     1     1           1.0
5       LE3       T   mother       no      2     1     2           1.5
6       LE3       T   mother       no      4     1     1           1.0
..      ...     ...      ...      ...    ...   ...   ...           ...
387     GT3       T   mother       no      2     1     2           1.5
388     LE3       T   mother       no      4     1     1           1.0
389     GT3       T   mother       no      1     1     1           1.0
391     LE3       T   mother       no      5     3     4           3.5
393     LE3       T   mother       no      1     3     4           3.5

[273 rows x 8 columns]

DataFrame showing values only about kids living with father.

In [10]:
print(df6)

    famsize Pstatus guardian romantic  goout  Dalc  Walc  alcoeveryday
1       GT3       T   father       no      3     1     1           1.0
4       GT3       T   father       no      2     1     2           1.5
11      GT3       T   father       no      2     1     1           1.0
12      LE3       T   father       no      3     1     3           2.0
19      LE3       T   father       no      3     1     3           2.0
..      ...     ...      ...      ...    ...   ...   ...           ...
371     LE3       T   father      yes      3     2     3           2.5
380     GT3       T   father       no      4     1     4           2.5
382     GT3       T   father       no      3     1     1           1.0
384     GT3       T   father       no      3     4     3           3.5
394     LE3       T   father       no      3     3     3           3.0

[90 rows x 8 columns]

Above you can see statistics of each DataFrame.

Statistics of DataFrame with all values.

In [11]:
print(df_new.describe())

            goout        Dalc        Walc  alcoeveryday
count  363.000000  363.000000  363.000000    363.000000
mean     3.112948    1.471074    2.308540      1.889807
std      1.120341    0.886433    1.295384      0.991110
min      1.000000    1.000000    1.000000      1.000000
25%      2.000000    1.000000    1.000000      1.000000
50%      3.000000    1.000000    2.000000      1.500000
75%      4.000000    2.000000    3.000000      2.500000
max      5.000000    5.000000    5.000000      5.000000

DataFrame statistics with values about kids living in apart families.

In [12]:
print(df3.describe())

           goout       Dalc       Walc  alcoeveryday
count  36.000000  36.000000  36.000000     36.000000
mean    3.138889   1.555556   2.305556      1.930556
std     1.150224   0.998411   1.470072      1.147375
min     1.000000   1.000000   1.000000      1.000000
25%     2.750000   1.000000   1.000000      1.000000
50%     3.000000   1.000000   2.000000      1.500000
75%     4.000000   2.000000   4.000000      2.500000
max     5.000000   5.000000   5.000000      5.000000

DataFrame statistics with values about kids living in full families.

In [13]:
print(df4.describe())

            goout        Dalc        Walc  alcoeveryday
count  327.000000  327.000000  327.000000    327.000000
mean     3.110092    1.461774    2.308869      1.885321
std      1.118770    0.874436    1.277224      0.974285
min      1.000000    1.000000    1.000000      1.000000
25%      2.000000    1.000000    1.000000      1.000000
50%      3.000000    1.000000    2.000000      1.500000
75%      4.000000    2.000000    3.000000      2.500000
max      5.000000    5.000000    5.000000      5.000000

DataFrame statistics with values about kids living with mother.

In [14]:
print(df5.describe())

            goout        Dalc        Walc  alcoeveryday
count  273.000000  273.000000  273.000000    273.000000
mean     3.168498    1.450549    2.296703      1.873626
std      1.131516    0.873596    1.304640      0.995191
min      1.000000    1.000000    1.000000      1.000000
25%      2.000000    1.000000    1.000000      1.000000
50%      3.000000    1.000000    2.000000      1.500000
75%      4.000000    2.000000    3.000000      2.500000
max      5.000000    5.000000    5.000000      5.000000

DataFrame statistics with values about kids living with father.

In [15]:
print(df6.describe())

           goout       Dalc       Walc  alcoeveryday
count  90.000000  90.000000  90.000000     90.000000
mean    2.944444   1.533333   2.344444      1.938889
std     1.074329   0.926513   1.273420      0.982509
min     1.000000   1.000000   1.000000      1.000000
25%     2.000000   1.000000   1.000000      1.000000
50%     3.000000   1.000000   2.000000      1.500000
75%     4.000000   2.000000   3.000000      2.500000
max     5.000000   5.000000   5.000000      5.000000